<style type="text/css">
            #navbar{
                opacity:0;
                background-color: white;
                -webkit-transform:translateY(-50px);
                -moz-transform:translateY(-50px);
                transform:translateY(-50px);
            }
            .hidden_nav {
                opacity:0;
                -webkit-transform:translateY(-50px);
                -moz-transform:translateY(-50px);
                transform:translateY(-50px);
                transition-duration: 0.6s;
                transition-timing-function: ease-in-out;
            }
            .display_nav {
                -webkit-transform:translateY(0px) !important;
                -moz-transform:translateY(0px) !important;
                transform:translateY(0px) !important;
                transition-duration: 0.45s !important;
                transition-timing-function: ease-in-out !important;
            }
            #default-nav li.current{
                border-bottom: 3px solid white;
                -webkit-transition: border-color 0.7s ease 0.95s !important;
                -moz-transition: border-color 0.7s ease 0.95s !important;
                transition: border-color 0.7s ease 0.95s !important;
            }
            #navbar li.current{
                border-bottom: 3px solid black;
                -webkit-transition: border-color 0.6s ease 0.95s !important;
                -moz-transition: border-color 0.6s ease 0.95s !important;
                transition: border-color 0.6s ease 0.95s !important;
            }
            body.background {
                overflow:hidden;
                background-size: 0%;
                background-repeat:no-repeat;
                padding: 0px;
                margin: 0px;
                background-position: center center;
                height: 100%;
                background-color: #000;
                background-attachment: fixed;
            }

            .box {
                width: 120px;
                height: 50px;
                position: relative;
                background: rgba(255,255,255,1);
                display: inline-block;
                margin: 0 10px;
                cursor: pointer;
                color: #2c3e50;
                box-shadow: inset 0 0 0 3px #2c3e50;
                -webkit-transition: background 0.4s 0.5s;
                transition: background 0.4s 0.5s;
            }

            .box svg {
                position: absolute;
                top: 0;
                left: 0;
            }

            .box svg line {
                stroke-width: 2;
                stroke: rgba(255,255,255,0.2); //box color
                fill: none;
                -webkit-transition: all .8s ease-in-out;
                transition: all .8s ease-in-out;
            }

            .box svg line.top,
            .box svg line.bottom {
                stroke-dasharray: 130 100 ;
            }

            .box svg line.left,
            .box svg line.right {
                stroke-dasharray: 60 30;
            }

            /* Frame */
            .demo-3 .box {
                background: rgba(0,0,0,0);
                color: #fff;
                box-shadow: none;
                -webkit-transition: background 0.3s;
                transition: background 0.3s;
            }

            .demo-3 .box:hover {
                background: rgba(0,0,0,0.2);
            }

            .demo-3 .box h3,
            .demo-3 .box span {
                -webkit-transition: none;
                transition: none;
            }

            .demo-3 .box svg line {
                -webkit-transition: all .5s;
                transition: all .5s;
            }

            .demo-3 .box:hover svg line {
                stroke-width: 8;
                stroke: rgba(241,194,214,0.4);
            }

            .box h5 {
                -webkit-transition: color 0.5s;
                transition: color 0.5s;
            }
            .demo-3 .box:hover h5 {
                color: rgba(241,194,214,0.8);
                -webkit-transition: all .6s ;
                transition: all .6s;
                -webkit-transform: scale(0.93);
                transform: scale(0.93);
            }

            .demo-3 .box:hover svg line.top {
                -webkit-transform: translateX(-120px);
                transform: translateX(-120px);
            }

            .demo-3 .box:hover svg line.bottom {
                -webkit-transform: translateX(120px);
                transform: translateX(120px);
            }

            .demo-3 .box:hover svg line.left {
                -webkit-transform: translateY(50px);
                transform: translateY(50px);
            }

            .demo-3 .box:hover svg line.right {
                -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
            }

            .box:hover svg line.left {
                -webkit-transform: translateY(100px);
                transform: translateY(100px);
            }

            .box:hover svg line.right {
                -webkit-transform: translateY(-100px);
                transform: translateY(-100px);
            }

            section.demo-3 {
                padding: 4em 2em;
                text-align: center;
            }

            #nav-points a {
                text-decoration:none
            }
            #nav-points a:hover {
                color:rgba(255,255,255,1);
                -webkit-transition:-webkit-transform .3s, opacity .2s;
                -moz-transition:-moz-transform .3s, opacity .2s;
                transition:transform .3s, opacity .2s
            }
            #nav-points a::after, #nav-points a::before {
                display:inline-block;
                opacity:0;
                -webkit-transition:-webkit-transform .3s, opacity .2s;
                -moz-transition:-moz-transform .3s, opacity .2s;
                transition:transform .3s, opacity .2s
            }
            #nav-points a::before{
                margin-right:10px;
                content:'{';
                -webkit-transform:translateX(20px);
                -moz-transform:translateX(20px);
                transform:translateX(20px);
            }
            #nav-points a::after {
                margin-left:10px;
                content:'}';
                -webkit-transform:translateX(-20px);
                -moz-transform:translateX(-20px);
                transform:translateX(-20px);
            }
            #nav-points{
                display:inline-block;
                color:rgba(255,255,255,0) !important;
                opacity:1!important;
                -webkit-transform:translateX(0px)!important;
                -moz-transform:translateX(0px)!important;
                transform:translateX(0px)!important
            }
            #nav-points a:hover::after, #nav-points a:hover::before, #default-nav a.active::before, #default-nav a.active::after {
                color:rgba(241,194,214,1);
                opacity:1 !important;
                -webkit-transform:translateX(0px) !important;
                -moz-transform:translateX(0px) !important;
                transform:translateX(0px) !important;
            }
            #navbar a:hover::after, #navbar a:hover::before, #navbar a.active::before, #navbar a.active::after {
                color:black ;
                opacity:1 !important;
                -webkit-transform:translateX(0px) !important;
                -moz-transform:translateX(0px) !important;
                transform:translateX(0px) !important;
            }
            .image {
                position: relative;
                left: 0px;
                height: 120%;
                background-color:white;
                background-position: 50% 50%;
                background-size: cover;
                background-attachment: scroll;
                text-align: center;
            }
            video#background {
                min-width: 100% ; 
                min-height: 100%;
                width:auto;
                height:auto;
                background-size: cover;
                margin: auto;
                position: fixed;
                z-index: 0;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            .text {
                position: fixed;
                bottom: 20px;
                left:50%;
                margin-left: -44px;
            }
            #postcard{
                position:relative;
                height:76% !important;
                width:84%;
                margin:auto;
                //border-style:solid;
                //border-color:white;
                border-width: 2px;
                border-top: 2px solid rgba(255,255,255,0.7);

                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.7)), to(transparent));
                background-image: -webkit-linear-gradient(rgba(255,255,255,0.7), transparent);
                background-image:
                    -moz-linear-gradient(rgba(255,255,255,0.7), transparent),
                    -moz-linear-gradient(rgba(255,255,255,0.7), transparent);
                background-image:
                    -o-linear-gradient(rgba(255,255,255,0.7), transparent),
                    -o-linear-gradient(rgba(255,255,255,0.7), transparent);
                background-image:
                    linear-gradient(rgba(255,255,255,0.7), transparent),
                    linear-gradient(rgba(255,255,255,0.7), transparent);
                -moz-background-size: 2px 100%;
                background-size: 2px 100%;
                background-position: 0 0, 100% 0;
                background-repeat: no-repeat;
            }
            #inner-border{
                height:88%;
                width:auto;
                margin:3%;
                border-style:solid; // play around
                border-color:rgba(255,255,255,0.7);
                color: rgba(255,255,255,0.7);
                border-width: 2px;
                border-top: 2px solid rgba(255,255,255,0.7);
                border-left:0px;
                border-right:0px;
                border-bottom: 0px;
                height:88%;
                width:auto;
                margin:3%;

                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,0.7)), to(transparent));
                background-image: -webkit-linear-gradient(rgba(255,255,255,0.7),transparent);
                background-image:
                    -moz-linear-gradient(rgba(255,255,255,0.7), transparent),
                    -moz-linear-gradient(rgba(255,255,255,0.7), transparent);
                background-image:
                    -o-linear-gradient(rgba(255,255,255,0.7), transparent),
                    -o-linear-gradient(rgba(255,255,255,0.7), transparent);
                background-image:
                    linear-gradient(rgba(255,255,255,0.7), transparent),
                    linear-gradient(rgba(255,255,255,0.7), transparent);
                -moz-background-size: 2px 100%;
                background-size: 2px 100%;
                background-position: 0 0, 100% 0;
                background-repeat: no-repeat;
            }

            #about-me{
                float:left;
                height:100%;
                width:40%;
                border-style:solid;
                border-color:rgba(255,255,255,0.7);
                border-width: 0px;
            }
            #contact-me{
                float:right;
                height:100%;
                width:60%;
                border-style:solid;
                border-color:rgba(255,255,255,0.7);
                border-top-width: 0px;
                border-right-width: 0px;
                border-bottom-width: 0px;
                border-left-width: 2px;
                border-image: linear-gradient(to bottom, rgba(255,255,255,0.7), rgba(0, 0, 0, 0)) 1 100%;
            }
            #contact_layer {
                position: absolute; right: 0; bottom: 0;
                min-width: 100%; min-height: 100%;
                width: auto; height: auto; z-index: 0;
                background: url(../images/filter1.png) bottom center repeat;
            }
            video#signature{
                display:block;
                visibility: hidden;
                position:relative;
                width:80%;
                top:30%;
                margin:auto;
            }
            #container{
                display:block;
                position:relative;
                height:15%;
                width:15%;
                top:35%;
                margin:auto;
            }
            div#loading{
                position:fixed; 
                z-index:9999; 
                height:220%;  
                width:220%; 
                overflow:hidden; 
                top:-60%; 
                left:-60%;
                background-color:white;
            }
            .loader{
                display:block;
                position:relative;
                overflow:hidden;
                top: 45%;
                left:-10%;
                margin:auto;
                width: 125%;
                height: 1px;
                background:#f3efe6
            }
            .loader span {
                display: block;
                width: 100%;
                height: 100%;
            }
            .progress {
                background-color: black !important;
                -webkit-animation: progressBar 5.6s ease-in;
                -webkit-animation-fill-mode: both; 
                -moz-animation: progressBar 5.6s ease-in;
                -moz-animation-fill-mode:both; 
                -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
            }

            @-webkit-keyframes progressBar {
                0% { width: 0; }
                100% { width: 100%; }
            }

            @-moz-keyframes progressBar {
                0% { width: 0; }
                100% { width: 100%; }
            }
            #qoute{
                display:block;
                position:relative;
                overflow:hidden;
                top: 78%;
                margin:auto;
                width: 100%;
                height: 100%;
                font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;                
                letter-spacing:0.1em;
                width: 100%;
                text-align:center;
                margin: 40px auto;	
                text-transform: lowercase;
                line-height: 145%;
                font-size: 13pt;
                font-variant: small-caps; 
            }
            .fa{
                font-size:40px;
                margin:4%;
                width:7%;
                cursor:pointer;
                color: rgba(255,255,255,0.4);
            }
            .fa-envelope-square{
                margin-right:14%;
            }
            .fa-github{
                margin-left:14%;
            }
            .fa-paper-plane{
                font-size:30px;
                margin:5%;
                margin-left:6%;
                width:18%;
                cursor:pointer;
                color: rgba(255,255,255,0.5);
                -webkit-transition: color ease 0.5s;
                -moz-transition: color ease 0.5s;
                transition: color ease 0.5s;
            }
            #icon-wrapper{
                position:absolute;
                bottom:-8%;
                height:40px;
                right:0%;
            }
            #submit{
                border: 2px solid rgba(255,255,255,0.4);
                border-radius: 10px;  
                width: 30%;
                line-height: normal;
                color: rgba(255,255,255,0.6);
                -webkit-transition: color ease 0.5s,border-color ease 0.5s !important;
                -moz-transition: color ease 0.5s,border-color ease 0.5s !important;
                transition: color ease 0.5s, border-color ease 0.5s !important;
            }          
            #submit:hover{
                cursor: pointer;
                color:rgba(241,194,214,0.4);
                border: 2px solid rgba(241,194,214,0.4);  
                transition: color ease 0.4s;
                -webkit-transition: color ease 0.5s;
                -moz-transition: color ease 0.5s;
                transition: color ease 0.5s;
            } 
            #submit:hover .fa-paper-plane{
                cursor: pointer;
                color: rgba(241,194,214,0.5) !important;
                transition: color ease-in-out 0.5s;
                -webkit-transition: color ease 0.5s;
                -moz-transition: color ease 0.5s;
            } 
            .sender{
                font-family: 'Rock Salt', cursive;
            }
            input{
                background-color:rgba(0,0,0,0);
                color: rgba(255,255,255,0.6);
                border-color: rgba(255,255,255,0.2);
                border-top:0px;
                border-left:0px;
                border-right:0px;
            }
            input:focus { 
                outline: 0;
                color: rgba(255,255,255,0.6);
            }
            input::-webkit-input-placeholder { /* WebKit browsers */
                font-family: 'Rock Salt', cursive;
                color:    rgba(255,255,255,0.3);
                font-size:12px;
                line-height:  normal;
            }
            input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                font-family: 'Rock Salt', cursive;
                color:    rgba(255,255,255,0.3);
                font-size:12px;
                line-height:  normal;
            }
            input::-moz-placeholder { /* Mozilla Firefox 19+ */
                font-family: 'Rock Salt', cursive;
                color:    rgba(255,255,255,0.3);
                font-size:15px;
                line-height:  normal;
            }
            input:-ms-input-placeholder { /* Internet Explorer 10+ */
                font-family: 'Rock Salt', cursive;
                color:    rgba(255,255,255,0.3);
                font-size:12px;
                line-height:  normal;
            }
            #client{
                width:38%;
                margin-bottom:2px;
            }
            #return{
                width:43%;
                max-width: 420px;
                margin-bottom:2px;
            }
            #message-con-0{
                width:74%;
            }
            #message-con-1,#message-con-2,#message-con-3,#message-con-4{
                width:44%;
            }
            .letter-writing{
                font-family: 'Nothing You Could Do', cursive;

            }
            #about-photo{
                border-style:solid;
                border-color: black;
                width: 255px;
                height:255px;
                text-align: center;
                border-radius: 300px;
                vertical-align:middle;
                display:table;  
                margin: auto ; 
                top:25%;   
            }
            #personal-bio{
                display:block;
                position:relative;
                margin: auto;
                width:62%;
                top:10%;
                line-height:200%;
                font-size: 20px;
            }
        </style>